<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Консольный аппендер для разработки (нужен, чтобы не было WARN) -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- USER_FILE -->
    <appender name="USER_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/user.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/user-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <!-- %nopex убирает стектрейс -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%nopex%n</pattern>
        </encoder>
    </appender>

    <!-- TASK_FILE -->
    <appender name="TASK_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/task.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/task-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%nopex%n</pattern>
        </encoder>
    </appender>

    <!-- Логгер для сотрудников-->
    <logger name="ru.itis.soup2.services.core" level="ERROR" additivity="false">
        <appender-ref ref="USER_FILE"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- Логгер для контроллеров -->
    <logger name="ru.itis.soup2.controllers" level="ERROR" additivity="false">
        <appender-ref ref="USER_FILE"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- Логгер для задач, проектов, спринтов -->
    <logger name="ru.itis.soup2.services.project" level="ERROR" additivity="false">
        <appender-ref ref="TASK_FILE"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- Корневой логгер-->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>